<div class="row">
    <div class="input-field col s12">
        <input placeholder="Member" id="member" type="text" class="validate auto" ng-model="member" ng-keyup="(groupDetailsC.member.trim().length == 2) && groupDetailsC.listNames()">
        <label for="club_lead">Member</label>
        <ul class="collection" ng-show="groupDetailsC.nameListShow">
            <li class="collection-item avatar" ng-repeat="list in groupDetailsC.nameList | orderBy:groupDetailsC.clubLead" ng-click="groupDetailsC.assign(list.id,list.name)">
                <img src="{{list.picture}}" alt="" class="circle">
                <span class="title center">{{list.name}}</span>
            </li>
        </ul>
    </div>
</div>
