<div ng-controller="clubController as clubC" ng-init="clubC.getClubs()"><ul class="collection">
    <li class="collection-item avatar" ng-repeat="club in clubC.clubs">
      <img src={{club.club_photo}} alt="" class="circle">
      <span class="title"><a href="#/clubs/{{club.club_id}}">{{club.clubname}}</a></span>
      <p>About:- {{club.clubdetails}}
      </p>
      <p>Club Lead :-{{club.admin}} </p>
      <p>{{club.member}} Members</p>
      <span>
                <input id="UploadAvatar" type="file" ngf-select ng-model="club.avatar" name="avatar" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile">
                            <button ng-click="clubC.uploadavatar(club.avatar,club.club_id)" ng-class="{disabled:clubC.isBtnDisabled}">Upload</button>
      </span>
      <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
    </li>
 </ul>
 </div>