<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="suggestion" class="materialize-textarea"></textarea>
          <label for="suggestion">Suggestions</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
        <p>Rate this app</p>
        <p class="range-field">
          <input type="range" id="rate" min="0" max="10" value="0" />
        </p>
      </div>
      </div>
    </form>
  </div>