<div ng-controller="eventController as eventsC" ng-init="getEvents()">
    <div class="row">
        <div class="col s12 card sticky-action">
            <div class="card-horizontal">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/a1.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Web Dev Workshop<i class="material-icons right">more_vert</i>
        <p>Sone things about workshop</p>
      </span>
                        <p><a href="#">Show More</a></p>
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Other Detatails<i class="material-icons right">close</i></span>
                <p>Maximum Seats :- 100</p>
                <p>Cost : 200</p>
                <p>Duration : 1 week</p>
            </div>
        </div>
    </div>
    <!-- Adding a an event -->
    <a class="btn-floating modal-trigger btn-large waves-effect waves-light red" data-target="add_event"><i class="material-icons">add</i></a>
    <!-- Modal Structure -->
    <div id="add_event" class="modal">
        <div class="modal-content">
            <h4>Create An Event</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Event Name" id="event_name" type="text" class="validate" ng-model="event.name">
                            <label for="event_name">Event Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="event_details" class="materialize-textarea" ng-model="event.detail"></textarea>
                            <label for="event_details">Event Details</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="date" class="datepicker" ng-model="event.date">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="PreRequisite" id="event_pre" type="text" class="validate" ng-model="event.prereq">
                            <label for="event_pre">PreRequisite</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input placeholder="Total Seats" id="event_seats" type="number" class="validate" ng-model="event.seats">
                            <label for="event_seats">Seats</label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Total Cost" id="event_cost" type="number" class="validate" ng-model="event.cost">
                            <label for="event_cost">Cost</label>
                        </div>
                        <div class="input-field col s4">
                            <input placeholder="Duration" id="event_duration" type="number" class="validate" ng-model="event.duration">
                            <label for="event_duration">Duration</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field s12">
                            <div class="row">
                                <input type="checkbox" id="branch_1" class="col s4" />
                                <label for="branch_1">CS</label>
                                <input type="checkbox" id="branch_2" class="col s4" />
                                <label for="branch_2">ECE</label>
                                <input type="checkbox" id="branch_3" class="col s4" />
                                <label for="branch_3">Mechanical</label>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                </form>
                </div>
            </div>
            <div class="modal-footer">
                <a class=" modal-action modal-close waves-effect waves-green btn-flat center" >Add</a>
            </div>
        </div>
</div>
