<div class="row" ng-controller="groupDetailsController" ng-init="connect()">
	<div class="col s8">
		
        <div class="col s12" >
          <div class="card collection hoverable">
            <div class="card-content black-text collection-item avatar">
              <img src="images/a.jpg" alt="" class="circle">
              <span >Amit<!--  > <a href="#/users/{{post.postedIn[0].id}}">{{post.postedIn[0].name}}</a> --></span>
              <div class="post">
                <p>dummy post</p>
              </div>
            </div>
            <div class="comment-box">
              <div class="comment">
              </div>
            </div>
            <div class="card-action">
              <input type="text" style="width:80%;margin-bottom:0" ng-model="comment"><span><i class="small material-icons">send</i></span>
            </div>
          </div>
        </div>
	</div>
	

	<div class="col s4">
		<ul class="collapsible popout" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Club Lead</div>
		      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">place</i>Members</div>
		      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">whatshot</i>Projects/Events</div>
		      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
		    </li>
  		</ul>
        
	</div>
</div>