 <div class="row" ng-controller="loginController as loginC">
    <form class="col s12" >
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix ">account_circle</i>
          <input id="user_email" type="text" ng-model="login.email" class="validate">
          <label for="icon_prefix">Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix ">mode_edit</i>
          <input id="user_password" type="password" ng-model="login.password" class="validate">
          <label for="icon_telephone">Password</label>
        </div>
        <div class="input-field col s12">
        	<a class="waves-effect waves-light btn" ng-click="try_login()">SignIn</a>
        </div>
        <div class="input-field col s12 hidden" style="display:none">
          <a class="waves-effect waves-light btn" ng-click="try_login_fb()"  >SignInFB</a>
        </div>
      </div>
    </form>
  </div>
 <!--ng-click="try_login_fb() href="http://localhost:1337/auth/signinfb" -->