<div ng-controller="PostsController as postC" class="row" ng-init="postC.fetch_posts()">
    <!-- <div class="col s12 m4" ng-repeat='post in post_list track by $index'><div class="card sticky-action">
  <div class="card-horizontal">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/a1.jpg">
    </div>
    <div class="card-stacked">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{post.name}}<i class="material-icons right">more_vert</i>
        <p>{{post.post}}</p>
      </span>
      <p><a href="#">Show More</a></p>
    </div>
    </div>
  </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
 -->
    <style>
    .card .card-action {
        padding: 0px;
    }
    
    .card .card-action input {
        width: 86%;
        margin-bottom: 0px;
        font-size: 1.3rem;
    }
    
    .card .card-action span .material-icons {
        margin-left: 1.3rem;
        margin-top: 1rem;
        cursor: pointer;
    }
    /* .card .comment-box .comment span {
        display: block;
        text-indent: -4rem;
        margin-left: 5rem;
    } */
    
    .comment-box {
        margin-left: 3rem;
    }
    
    .card .card-action span.comment-data {
        max-height: 20px;
        overflow: hidden;
    }
    
    .post {
        margin-top: .6rem;
    }
    
    .comment_data {
        margin-left: 3.8rem;
    }
    
    .comment {
        margin-top: 1.7rem;
    }
    
    .post-date {
        font-size: .65rem;
    }
    
    .commentor {
        margin-left: 3.8rem;
        margin-top: -4rem;
        display: block;
    }
    
    .comment-date {
        font-size: .65rem;
        margin-left: 3.8rem;
        margin-bottom: .6rem;
        display: block;
    }
    
    .delete-button {
        height: 1.5rem;
        width: 3rem;
        float: right;
        margin-top: -2rem;
        margin-right: 2rem;
        padding: inherit;
        font-size: x-small;
        text-align: center;
        line-height: inherit;
    }
    </style>
    <div class="row">
        <div class="col s12" ng-repeat="post in postC.post_list | orderBy:'-createdAt' track by $index">
            <div class="card collection hoverable">
                <div class="card-content black-text collection-item avatar">
                    <img ng-src="{{post.user.photo}}" onerror="if (this.src != './images/default_user.jpg') this.src = './images/default_user.jpg';" alt="" class="circle">
                    <span><a href="#/users/{{post.user.id}}">{{post.user.name}}</a>  </span>
                    <div class="chip right">
                        <a href="#/clubs/{{post.postedIn.id}}">{{post.postedIn.name}}</a>
                    </div>
                    <p>
                        <h6 class="grey-text post-date">{{ post.createdAt| timeAgo }}</h6></p>
                    <div class="divider"></div>
                    <div class="post">
                        <p>{{post.post}}</p>
                        <button ng-if="postC.post_list.userid==post.user.id" class="delete-button btn" ng-click="postC.deletePost(post);">Delete</button>
                    </div>
                </div>
                <!-- {{postC.theapp}}images/profile/{{comment.user}}.jpg {{post.createdAt| timeago }} -->
                <div class="comment-box" id="{{post.id}}">
                    <div class="comment" ng-repeat="comment in post.comments">
                        <img ng-src="http://digiclubs.westus.cloudapp.azure.com/images/profile/{{comment.user}}.jpg" onerror="if (this.src != './images/default_user.jpg') this.src = './images/default_user.jpg';" alt="" class="circle" style="height:42px;width:42px;margin-top:4px">
                        <span class="commentor"><a href="#/users/{{comment.user}}">{{comment.name}}</a> </span>
                        <span class="grey-text comment-date">{{ comment.createdAt| timeAgo }}</span>
                        <button ng-if="comment.user==postC.post_list.userid" class="delete-button btn" ng-click="postC.deleteCom(comment,post);">Delete</button>
                        <div class="comment_data">
                            {{comment.comment}}
                        </div>
                        <!-- <div class="divider"></div> -->
                    </div>
                </div>
                <div class="card-action">
                    <input type="text" style="width:77%;margin-bottom:0" ng-model="postC.comment[$index]"><a ng-model="postC.commBtn[$index]" ng-class="{disabled: postC.btnDisabled}" class="btn" ng-click="postC.doComment(post.id,postC.comment[$index],$index,post.privacy,post.postedIn.id);"><i class="small material-icons">send</i></a>
                </div>
            </div>
        </div>
    </div>
</div>
