<div class="row">
        <div class="col s12 ">
          <div class="card collection">
            <div class="card-content black-text collection-item avatar">
              <img src="images/a.jpg" alt="" class="circle">
              <span class="card-title">Amit Phulera</span>
              <div class="user-details">
                <p>Clubs:- </p>
                <p>Projects :-</p>
                <p>Events :- </p>
              </div>
            </div>
            <div class="card-action">
              <a href="#">Download Profile</a>
             
            </div>
          </div>
        </div>

</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
</div>
